@import url("https://fonts.googleapis.com/css?family=Muli:400,600");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");

body {
	--clr1: #fbfbff;
	--clr2: #ffffff;

	--line-width: 2px;
	--size: 32px;

	background-size: var(--size) var(--size);
	background-color: var(--clr2);

	background-image: linear-gradient(var(--clr1) var(--line-width), transparent 0),
		linear-gradient(to right, var(--clr1) var(--line-width), var(--clr2) var(--line-width));

	/* overwriting mantine's 100% rule on body */
	height: auto;
}
