@import url("https://fonts.googleapis.com/css?family=Muli:400,600");

body {
	--clr1: #f4f5ff;
	--clr2: #ffffff;

	--line-width: 2px;
	--size: 32px;

	background-size: var(--size) var(--size);
	background-color: var(--clr2);

	/* Fade the grids at the end */
	background-image: linear-gradient(var(--clr1) var(--line-width), transparent 0),
		linear-gradient(to right, var(--clr1) var(--line-width), var(--clr2) var(--line-width));
}
